<link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
        html, body {
    font-family: 'Lato', sans-serif
}

body {
    background-color: dimgray;
}


.dropbtn {
    background-color: #000000;
    color: #07C1BE;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #333333;
}

/* The container <div> - needed to position the dropdown content */
.menu {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.menu-content {
    display: none;
    position: absolute;
    background-color: #474747;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.logo {
    width: 5.75%;
    float: right;
    margin: 3px;
}
.help {
  background-color: #000000;
    color: #07C1BE;
    width: 160px;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.help:hover, .help:hover {
    background-color: #333333;
}

.soundboard {
    background-color: #000000;
    color: #07C1BE;
    width: 160px;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.soundboard:hover, .soundboard:focus {
    background-color: #333333;
}

.recsettings {
    background-color: #000000;
    color: #07C1BE;
    width: 160px;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.recsettings:hover, .recsettings:focus {
    background-color: #333333;
}

.export {
    background-color: #000000;
    color: #07C1BE;
    width: 160px;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.export:hover, .export:focus {
    background-color: #333333;
}

#sbDropdown{
    display: none;
    position: fixed;
    background-color: #000000;
    color: #07C1BE;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-top: 100px;
	z-index: 100;
    left: 34.15080527%;
}

.keyboard {
    margin:auto;
    text-align: center;
    width: 800px;
    height: 400px;
    padding-top: 50px;
}


.row0 canvas {
    width: 8%;
    height: 100px;
    margin-left: 4px;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 24px;
}

.row1 canvas {
    width: 8%;
    height:100px;
    margin: 4px;
}

.row2 canvas {
    width: 8%;
    height: 100px;
    margin: 4px;
}

.row3 canvas {
    width: 8%;
    height: 100px;
    margin: 4px;
}

.soundMenu {
    margin: 5px;
    background-color: #000000;
    color: #07C1BE;
    padding: 1px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.soundMenu:hover {
    background-color: #333333
}

.loopMenu {
    margin: 5px;
    background-color: #000000;
    color: #07C1BE;
    padding: 1px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.loopMenu:hover {
    background-color: #333333
}

.soundboards{
    margin: 5px;
    background-color: #000000;
    color: #07C1BE;
    padding: 1px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.soundboards:hover {
    background-color: #333333
}